

    .collections {
      display: flex;
      flex-direction: column;
    }
    .collection-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f8f9fa; 
    }
    
    .collection-item .content {
      flex: 1;
      background-color: #f4c8c8; 
      padding-top: 100px;
      padding-left: 90px;
      padding-bottom: 129px;
      padding-right: 280px;
      text-align: center; 
    }
    
    .collection-item .image-container {
      flex: 0.5; 
      padding-right: 280px;
      padding-left: 280px;
      
    }
    
    .collection-item img {
      width: 100%;
      max-width: 300px; 
      height: auto;
      object-fit: cover;
      box-shadow: 10px 10px 5px #000000;
      
    }
    .men-collection {
      background-color: #ffffff; 
    }
    
    .women-collection {
      background-color: #ffffff; 
    }
    
    .collection-item h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .collection-item p {
      font-size: 16px;
      line-height: 1.6;
      color: #333; 
    }
    
    .shop-btn {
      padding: 12px 24px;
      background-color: #000000;
      color: rgb(198, 192, 192);
      border: solid;
      padding:0.75rem 1.5rem;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      width:auto
    }
    
    .description {
      margin-left: 10px;
      margin-bottom: 15px;
  }
    .shop-btn:hover {
      background-color: #afafaf;
    }
    
    @media (max-width: 768px) {
      .collection-item {
        flex-direction: column;
      }
    
      .collection-item .image-container,
      .collection-item .content {
        flex: none;
        width: 100%; 
      }
    
      .collection-item img {
        max-width:100% ;
      }
    }
    