.hero-section {  
   display: flex;   
   justify-content:space-around; 
   align-items: flex-start;  
   background-color: #f7d5d5;   
   padding: 40px 0;   
   height:70vh;   
   box-sizing: border-box;
   margin-top: 20px; 
   overflow: hidden;}      



.hero-text {    
   text-align: left;    
   max-width: 35%;    
   margin-left: 20px;   
   font-family:'math' ; 
   
     } 


.hero-text h1 {     
  font-size: 45px; 
  }     


.hero-text .shop-btn {     
  margin-top: 20px;     
  padding: 10px 20px;     
  background-color: black;    
  color: white;     
  border:solid;     
  cursor: pointer;  
 }    



.hero-image img {     
  flex:1;     
  display: flex;     
  justify-content: center;     
  align-items: center;     
  max-height: 100%;
  width: auto;
  object-fit: contain;     
  /*height: 35vw; */  
  }  