body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  width: 100%;
  align-items: center;
  position: fixed;  /* Fix navbar to top of the screen */
  top: 0;           /* Align it to the very top */
  left: 0;          /* Stick to the left side */
  z-index: 1000;    /* Ensure navbar stays above all other elements */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-actions {
  display: flex;
  gap: 15px;
}

.logo {
  font-size: 34px;
  font-weight: bold;
}

.logo-image {
  width: 150px;  /* Adjust the width to fit better */
  height: 40px;
  border-radius: 10px;
}

.search-bar {
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  outline: none;
}

.search-container {
  position: relative;
}

.search-bar {
  padding-right: 35px;
}

.search-icon-inside {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.main-content {
  padding-top: 80px;  /* Add padding to prevent content overlap */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
  }

  .search-bar {
    width: 150px;
  }
}
