
.about-container {
    font-family: Arial, sans-serif;
    margin: auto;
    margin-top: 800px;
    padding: -1px;
    color: #333;
    padding-top: 519px;
}

.about-intro {
    text-align: center;
    margin-bottom: 40px;
}

.about-intro hr{
    width: 379px; 
    height: 1px;
    background-color: black; 
    border: none; 
    margin: 10px auto;
}


.about-intro h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.about-description {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

.about-mission {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 80px;
    margin-bottom: 40px;
    border-radius: 8px;
    flex-wrap: wrap; 
    background-image: url('/images/sharpiemission.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.mission-text h3{
    flex: 1;
    font-size: 2.5rem;
    font-weight: normal;
    color: black; 
    position: relative;
    z-index: 2;
}
.mission-text {
    flex: 1;
    font-size: 4rem;
    font-weight: bold;
    color: black; 
    position: relative;
    z-index: 2;
}

.mission-details {
    flex: 1;
    padding-left: 20px;
    color: black; 
    position: relative;
    z-index: 2; 
}

.mission-details p {
    font-size: 20px;
    line-height: 1.5;
}

.about-mission::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 1; 
    border-radius: 8px; 
}

.about-journey {
    text-align: center;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
}

.about-journey h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.about-journey hr{
    width: 379px; 
    height: 1px;
    background-color: black; 
    border: none; 
    margin: 10px auto;
}

.journey-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
    margin-bottom: 20px;
}

.journey-text {
    flex: 1;
    max-width: 200%;
    font-size: 2rem;
    line-height: 1.6;
    padding: 65.2px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #EBB3C7; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

.journey-image {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.journey-image img {
    max-width: 100%; 
    height: 612px;
    border-radius: 5px;
}


.journey-text h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.journey-text hr {
    width: 270px; 
    height: 1px; 
    background-color: black; 
    border: none; 
    margin: 10px 0 10px 0; 
    margin-left: 0; 
}



.journey-text p {
    font-size: 1.5rem;
    color: #333;
}

@media screen and (max-width: 768px) {
    .mission-text, .mission-details {
        flex: 1 1 100%;
        padding: 0;
    }

    .about-intro h2 {
        font-size: 2rem;
    }

    .intro-text, .mission-text, .journey-text h3 {
        font-size: 1.2rem;
    }

    .about-description, .mission-details p, .journey-text p {
        font-size: 0.9rem;
    }
}