.admin-panel {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  margin-top: 250px;
}


.admin-panel h1 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-panel button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.admin-panel button:hover {
  background-color: #0056b3;
}

.products {
  margin-top: 20px;
}

.products table {
  width: 100%;
  border-collapse: collapse;
}

.products table th, .products table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.products table th {
  background-color: #f4f4f4;
}
