body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
}

.breadcrumb {
  margin-bottom: 10px;
  margin-top: 150px;
}


.breadcrumb a {
  text-decoration: none;
  color: #555;
}

.breadcrumb span {
  font-weight: bold;
}

.page-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.page-header p {
  font-size: 16px;
  color: #888;
}

.page-header select {
  font-size: 14px;
  padding: 8px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card .category {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
}

.product-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card .price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sizes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sizes span {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sizes span:hover {
  background-color: #ccc;
}
