
.product-page {
  display: flex;
  padding: 0;   
  align-items: flex-start;
  justify-content: space-between; 
}


.product-image {
  width: 40%; 
  padding: 0;
  margin-top: 100px;
  height: 50%;
}

.product-image img {
  width: 53%;
  height: 70%;
  margin-top: 250px;
  
}

.product-details {
  width: 55%; 
  padding-left: 20px;
  margin-top: 630px;
}

.product-details h4 {
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  color: green;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 15px;
}

.color-options {
  margin-bottom: 15px;
}

.color-options p {
  margin-bottom: 10px;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.color.black {
  background-color: black;
}

.color.white {
  background-color: white;
  border: 1px solid black;
}

.color.pink {
  background-color: pink;
}

.size-options {
  margin-bottom: 15px;
}

.sizes {
  display: flex;
  gap: 10px;
}

.size {
  background-color: #f0f0f0; 
  color: #333;  
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.size:hover {
  background-color: #ddd; 
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.quantity button {
  background-color: #f0f0f0; 
  color: #333;  
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity input {
  color: #333;  
  border: 1px solid #ccc;
  text-align: center;
  width: 40px;
}

.add-to-cart {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-to-cart:hover {
  background-color: #333;
}

.product-info {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}