
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 500rem; 
  }
  
  .navbar {
    text-align: left;
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .logo {
    height: 3em;
    padding: 0.5em 1em;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .card {
    padding: 2em;
  }
  
  